<div class="container">
  <h1 class="center asaaf">ASAAF</h1>
  <h2 class="center asaaf-sub"><%= t "page.home.subtitle" %></h2>
  <p class="center asaaf-desc"><%= t "page.home.description" %></p>
</div>
