.member_navigation {
  margin: 0 auto;
}

.page-link--active {
  background-color: darkslategrey;
  color: white;
}

.member_admin_account_data {
  padding-top: 2rem;
}

#unlock_account_button {
  margin-left: 1rem;
}
