<p><%= t_scoped :greeting, name: @resource.name %></p>

<p><%= t_scoped :body %></p>
<p><%= t_scoped :instructions %></p>

<p><%= link_to t_scoped(:subject), confirmation_url(@resource, confirmation_token: @token) %></p>
