<p><%= t_scoped :greeting, name: @resource.name %></p>

<p><%= t_scoped :body1 %></p>

<p><%= link_to t_scoped(:change_password_link), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t_scoped :body2 %></p>
