<footer>
  <div class="container-flex footer-wrapper row">
    <div class="footer-logo col-md-3">
      <%= link_to image_tag("logo_asaaf", alt: "Logo de ASAAF", class: "footer-logo"), "home" %>
    </div>
    <ul class="links-contact col-md-3">
      <li class="links-header">ASAAF</li>
      <li class="links-link">Sobre nosotros</li>
      <li class="links-link">Contacto</li>
    </ul>
    <ul class="links-help col-md-3">
      <li class="links-header">Ayuda</li>
      <li class="links-link">Política de privacidad</li>
    </ul>
    <ul class="links-social col-md-3">
      <li class="links-header">Redes sociales</li>
      <li class="links-link">Twitter</li>
      <li class="links-link">Facebook</li>
      <li class="links-link">Discord</li>
      <li class="links-link">Youtube</li>
    </ul>
  </div>
  <div class="container-flex footer-sign">
    <div class="sign"> 
      <span><%= t 'app.footer.made_with'%></span>
      <box-icon id="heart" type="solid" name="heart" color="red" animation="tada-hover"></box-icon>
      <span><%= t 'app.footer.by' %> <a href="https://iaderdor.info">iaderdor</a></span>
    </div></div>
</footer>
